body {
  background-color: #78d9e1;
} 

#backgroundphoto { 
  width: 100%;
  height: 25%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: url("https://lh5.googleusercontent.com/VP88emWqG2A1lpWfGhMC1X9X6u-Obmu2oWyYaZE42T4XxEMV3nE33bgeHgQ4vcGMzFz6Vw=w2512-h1060");
} 

