body {
  background-color: #78d9e1;
  font-family: 'Montserrat', sans-serif;
} 

ul li { 
  display: inline;
  margin-top: 20px;
  padding-right: 200px;
} 

h1{ 
  font-size: 70px;
  text-align: center;
  margin-top: -10px;
} 

h3{ 
  text-align:center;
  margin: -25px;
} 


