body {
  background-color: rgba(238,238,238,1);
  font-family: 'Slabo 27px', serif;
} 

.ucl_medsin h1{ 
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
} 

.ucl_medsin h3{ 
  text-align:center;
  margin-top: -70px;
  font-size: 40px;
  color: #e30101;
} 

img { 
  position: absolute;
  height: 500px;
  width:1000px;
  border: 3px solid black;
  left: 50%;
  top: 50%;
  margin-left: -250px; /*half the image width*/
  margin-top: -250px; /*half the image height*/
  
} 








